/* 
  TODO::
  material-icon : cursor
*/

#header{
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
  z-index: 1;
}
.content-body{
  background-color: grey;
}
.container{
  position: relative;
  max-width: 935px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
#header .container{
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .logo{
  display: block;
  background: url("/images/logo_sm.png") center no-repeat;
  width: 103px;
  height: 29px;
}
#header .search{
  position: relative;
}
#header .search_box{
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  height: 24px;
  box-sizing: border-box;
  padding: 0 20px;
  width: 220px;
  color: #333;
}
#header .search_box:focus ~ .search_icon-cancel{
  display: block;
}
#header .search_box:focus + .search_text{
  display: none;
}

#header .search_text{
  color: #aaa;
  position: absolute;
  display: flex;
  align-items: center;
  left: calc(50% - 30px);
  top: 17px;
  text-align: center;
  line-height: 14px;
}
/* #header .search_text::before{
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: -1px;
  background: url("/images/icons1.png") -23px 0 
  no-repeat;
  margin-right: 10px;
} */
#header .search_icon{
  display: inline-block;
  color: #aaa;
  font-size: 14px;
  margin-right: 5px;
}
#header .search_icon-cancel{
  display: none;
  color: #bbb;
  position: absolute;
  top: 16px;
  right: 5px;
  font-size: 16px;
}
#header .menu{
  display: flex;
  gap: 10px;
}
#header .menu .menu-icon{
  position: relative;
}
#header .menu .material-icons{
  display: block;
  color: #777;
  cursor: pointer;
}
#header .menu .material-icons.view{
  color: #333;
}

/* MODAL */
#header .modal::before{
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .6;
}
.modal{
  display: none;
  position:absolute;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  top: 36px;
  box-sizing: border-box;
  z-index: 10;
  background-color: #fff;
}
.modal.view{
  display: block;
}
.modal__input{
  top: 50px;
  width: 362px;
  height: 400px;
  left: -90px;
}
.modal__log{
  width: 400px;
  height: 400px;
  right: -50px;
}
.modal__profile{
  width: 200px;
  height: 400px;
  right: -20px;
}

/* CONTENT BODY */
.content-body{
  position: relative;
  top: 50px;
}

/* NAVIAGATION */
#nav{
  position: fixed;
  background-color: yellow;
  height: calc(100vh - 50px);
  top: 50px;
}